body{
    background-color: rgb(20, 20, 20);
}
h5{
    color:rgb(85, 10, 10);
}
.wrapper .box input{
    width: 80%;
    font-size: 15px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 5px solid rgb(33, 35, 36);
    transition: 0.5s linear;
}
.wrapper .box input:focus,
.wrapper .box input:valid{
    padding: 10px 15px;
    background: rgb(117, 109, 109);
    margin-top: 5px;
}
.container input[type="submit"]{
    background:rgb(117, 109, 109);
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
}
.container .wrapper .box input[type="date"]{
    color: rgb(66, 51, 51);
}
